{% extends "presentation.html" %}

{% block form %}

    <div class="panel panel-default text-center">

      {% if envoi_ok %}

        <h4>Merci votre avis a bien été envoyé !</h4>

      {% else %}

      <div class="panel-heading">Pour ce projet</div>

      <div class="panel-body">

        <form  class="form-horizontal" action="" method="POST">


            {% csrf_token %}
            {{ form_comment.as_p }}
            <button type="submit" class="save btn btn-block">Envoie</button>
        </form>

      </div>

      {% endif %}

    </div>

{% endblock %}
