/* graphique */

.site-logo {
  	top: -4em;
		height: 30%;
    width: 30%;
    border-radius: 7px;
}

.img_footer {
	height: 5%;
    width: 5%;
    border-radius: 20px;
}

.footer {
		background: #f0f0f0;
		padding: 2em 0 3em;
		text-align: center;
    width: 100%;
}

/* body {
 background-image: url("../img/lac-1_medium.jpg");
 background-repeat: no-repeat;
}  */

#banner {
		background-image: url("../img/lac-1_medium.jpg");
		background-attachment: fixed;
		background-color: #666;
		background-position: top left,center center;
		background-repeat: no-repeat;
		background-size: 100%;
		color: #fff;
		padding: 12em 0 20em;
		text-align: center;
}

#main {
    margin-top: -14em;
}

#form {
    background-color: #8CC0FC;
		background-image: url("../img/lac-2.jpg");
		background-attachment: fixed;
		background-color: #666;
		background-position: top left,center center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding: 2em 0 2em;
}

section {
    display: block;
}

body {
    background: #f5f5f5;
		font-family: muli,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

label {
    text-align: center;
}

iframe {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

textarea {
  height: 4em;
  border-radius: 2px;
	width: 50%;
}

/* .img-responsive{
	style="width:30%"
} */
