<!DOCTYPE html>
<html lang="fr">
  <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     {% load static %}
     <link rel="icon" href="{% static 'img/icon.png' %}">
     <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="screen"/>
     <title>{% block title %}Presentation de Lac'coop{% endblock %}</title>
     {% block head %}{% endblock %}

  </head>
  <body>

    <!-- <img src="{% static 'img/lac-1.jpg' %}" class="img-responsive" id="background_image"/> -->

     <header id="masthead" class="container-fluid text-center" role="banner">
     </header>
        {% block hight_header %}


        <!-- <section id="banner" style="background-image:url(../static/img/lac-1_medium.jpg)"> -->
        <section id="banner" class="container-fluid text-center">
          <div class="site-branding">
             <a href="{% url 'accueil' %}" class="site-logo-link" rel="home">
               <div class="row">
                  <h1 class="col-sm-6 text-right site-title" id="haut-page">
                     <a href="{% url 'accueil' %}"> Lac'coop</a>
                  </h1>
                  <img src="{% static 'img/image_accueil.png' %}" class="col-sm-6 img-responsive site-logo" style="width:12%">
               </div>
             </a>
             <h2 class="site-description">Le magasin cooperatif du bourget</h2>
          </div>
        </section>
        {% endblock %}



     <div class="container">
       {% block content %}
       {% endblock %}
     </div>

     <section id="form">
       <div class="container">
         {% block form %}
         {% endblock %}
       </div>
    </section>

    <footer class="footer container-fluid text-center">
      {% block footer %}
      <ul class="icons pagination pagination-lg text-center">
        <li>
          <a href="//facebook.com/" target="_blank">
            <i class="icon fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="//twitter.com/" target="_blank">
            <i class="icon fab fa-twitter"></i>
          </a>
        </li>
      </ul>
      <div class="logo-footer text-center">
          <a href="#haut-page" class="img-responsive navbar-footer img-rounded text-center">
             <img src="{% static 'img/icon.png' %}" class="img_footer">
          </a>
      </div>
      {% endblock %}
    </footer>
  </body>
</html>
