{% extends "base.html" %}

{% block content %}

<section id="main" class="container-fluid">

  <div class="container-fluid panel panel-default">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel-heading text-center">Presentation</div>
        <div class="panel-body">
          Crée un magasin cooperatif au bouget afin d'offire la possibilité pour tous de venir acheter la plupare des produit du quotidien
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel-heading text-center">Description</div>
        <div class="panel-body">
          Le modèle de magasin coopératif fonctionne sur le principe de bénévolat et de participation active des membres.
          Cette proposition constitue un socle, ré-adaptable et modifiable en fonction des contraintes et envies des personnes intéressées par ce projet. Nous pourrions par exemple envisager que les prix appliqués seraient proportionnellement plus élevés pour les personnes non adhérentes à la coopérative (comme les vacanciers).
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel-heading text-center">Lien</div>
        <div class="panel-body">
          <a href="https://www.youtube.com/watch?v=RwRG6stOIOI">Park Slope Food Coop</a><br>
          <a href="https://www.ekosystm.com/">Magasin ekosystm à Chambery</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel-heading text-center">Objectifs</div>
        <div class="panel-body">
          - de fournir à nouveau tous les services d'une petite épicerie, en proposant notamment des produits accessibles au plus grand nombre, et de première nécessité
          - de créer un nouveau lieu d’échange intergénérationnel et social
          - de proposer en majorité des produits locaux et d’origine biologique
          - de limiter les déplacements en voiture des habitants du Bourget
          - de rendre plus indépendants toutes les personnes qui ne peuvent se déplacer quotidiennement
          - de faire perdurer le dynamisme du centre ville
          - et ceci tout en limitant les déchets
        </div>
      </div>
    </div>
  </div><br>


  <div class="panel panel-default">
    <div class="panel-heading text-center">Lieu</div>
    <div class="panel-body">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.openstreetmap.org/export/embed.html?bbox=5.858073234558106%2C45.64748523752974%2C5.861613750457765%2C45.649172761107444&amp;layer=mapnik&amp;marker=45.648329005673595%2C5.859843492507935"></iframe><br>
      </div>

    </div>
  </div>


</section>



{% endblock %}
